<header id="header"> 
<div>
<h1><a href="https://www.google.co.in">The Manasi AEM62Toy Store</a></h1>
<h3><i>"Your ticket to play in Vegas!"</i></h3>
</div>
<div>
<strong>Search Products</strong>
<input type="text" value="" placeholder="Product, Description">
<button id="submit1" type="submit">Submit</button>
</div>
</header>

<script>
$(document).ready(function() { 


    $("#submit1").click(function(){
alert("ok");
$.ajax({
			url : "aemtraining/structure/page.SimpleServlet",
			type : "GET",
			async : false,
			success : function(res) {

                alert(res);
			},
			error : function(message) {

			}
            });

		});


});

</script>